/*********************************************************************************************

Project : rwdgrid - responsive grid system for your next project
URI: http://rwdgrid.com/
Version: 1.0
Author: Vineeth G S 
Author URI: http://www.gsvineeth.com
Github URI: https://github.com/gsvineeth/rwdgrid/

**********************************************************************************************

1.  Default / for Grid 1200px             
2.  960px 
3.  720px
4.  lt 720px 


**********************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Italiana|Oxygen:400,300,700);

/********************************************************************************************* 

1.  Default / for Grid 1200px             

*********************************************************************************************/   

/* Style for demo REMOVE THIS SECTION */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,  .grid-13,  .grid-14,  .grid-15,  .grid-16 {
	margin-bottom:15px;
}

body{
	background:#f5f5f5;}
p{
	padding:15px;}

.imageCaption{
    display:block;
    position:absolute;
    background:#d5d5d5;
    width:100%;
    color:#000;
    height: 99%;
    opacity: 0.85
}

.imageCaption p{font-family: 'Italiana', serif; font-size: 22px}

.articleImages li{
    display:block;
    float:left;
    position:relative;
    overflow:hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 15px;
}

.articleImages ul{
    display:block;
    float:left;
    position:relative;
    overflow:hidden;
    padding: 0px;
    margin: 0px;
}

.articleImg{
    width: 100%;
}


	
	
/********************************************************************************************* 

1.  Default / for Grid 1200px             

*********************************************************************************************/  

body{
	font-family:sans-serif;}
 
.header {height: 85px; background-color: #fff;}

.topLogo{background-image: url('../images/jetset.png'); width: 230px; height: 60px; position: relative; top:10px; left:10px;}

.topSlider{}

.topslidewidth{width: 1180px;}

#slidecontain{height: 320px;}

/********************************************************************************************* 

2.  960px 

*********************************************************************************************/  

@media only screen and (min-width: 960px) and (max-width: 1199px) {

.topslidewidth{width: 940px;}

#slidecontain{height: 275px!important;}

}
	

/********************************************************************************************* 

3.  720px 

*********************************************************************************************/ 

@media only screen and (min-width: 720px) and (max-width: 959px) {
 
 .topslidewidth{width: 700px;}

}
 
 

/********************************************************************************************* 

4.  lt 720px 

*********************************************************************************************/ 

@media only screen and (max-width: 719px) {

 .topslidewidth{width: 415px;}

}
